// Variables
$burnt_orange: #ff5660;
$palette_one: #d5f4e6; 
$palette_two: #80ced6; 
$palette_three: #fefbd8; 
$palette_four: #618685; 
$palette2_one: #92a8d1; 
$palette2_two: #034f84; 
$palette2_three: #f7cac9; 
$palette2_four: #f7786b; 

#background_image {
  	filter: blur(3px);
}

#link3 {
	color: $burnt_orange;
	transform: scale(1.3); 
}

.card {
	margin-bottom: 20px; 
}
